:root {
    --main-color: #323232;
    --font-white: #C0C0C0;
    --footer-font-grey: #949494;
    /* 내부 */
    --hr: #666;
    --video-color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

header {
    z-index: 1;
    position: relative;
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 3% 0 3%;
}

.nav-right {
    display: flex;
    align-items: center;
}

.search-icon {
    background: url(../img/search.svg);
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 16px;
    box-sizing: border-box;
    display: flex;
    opacity: 0.8;
}

.search-icon:hover {
    opacity: 1;
}

.main-logo {
    background: url(../img/main-logo.png);
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 36px;
    box-sizing: border-box;
    display: flex;
}

.mypage-icon {
    background: url(../img/mypage.svg);
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    margin: 0 14px 0 0;
    display: flex;
    opacity: 0.8;
}

.mypage-icon:hover {
    opacity: 1;
}

.cart-icon {
    background: url(../img/cart.svg);
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 22px;
    box-sizing: border-box;
    margin: 0 0 0 14px;
    display: flex;
    opacity: 0.8;
}

.cart-icon:hover {
    opacity: 1;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
}

.main-nav li {
    display: flex;
    padding: 0 0.9% 0 0.9%;
}

.main-nav li a {
    color: var(--font-white);
}

.main-nav li :hover {
    color: #fff;
}

body {
    padding: 0px;
    margin: 0px;
}

.bg {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

video {
    width: 100%;
}

.text {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    text-align: center;
    color: #ffffff;
    font-family: 'Jacques Francois', serif;
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
}

.product {
    padding: 60% 5% 0 5%;
}

h3 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5.729%;
}
.bag-page {
    position: relative;
}
.bag-arrow{
    position: absolute;
    top: 300px;
}
.arrow-left{
    background: url(../img/left.svg);
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    left: 0;

}
.arrow-right{
    background: url(../img/right.svg);
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    right: 0;
}
.page-product {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    overflow: hidden;
    justify-content: center;
}

.page-product li {
    display: flex;
}

.page-product p {
    padding: 10px 0 0 0;
}

.page-product a {
    color: var(--main-color);
}

.main-product {
    background: url(../img/sachel.png);
    background-size: cover;
    background-position: center;
    width: 526px;
    height: 660px;
}

.one-bag {
    background: url(../img/bag1.png);
    background-size: cover;
    background-position: center;
    width: 420px;
    height: 380px;
    margin: 0 20px 0 0;
}

.one-bag:hover {
    background: url(../img/bag1back.png);
    background-size: cover;
    background-position: center;
    width: 420px;
    height: 380px;
    transition: 0.2s;
}

.two-bag {
    background: url(../img/bag2.png);
    background-size: cover;
    background-position: center;
    width: 420px;
    height: 380px;
}

.two-bag:hover {
    background: url(../img/bag2back.png);
    background-size: cover;
    background-position: center;
    width: 420px;
    height: 380px;
    transition: 0.2s;
}

.heel-page {
    padding-top: 10%;
    position: relative;
}
.heels-arrow{
    position: absolute;
    top: 400px;
}

.one-heel {
    background: url(../img/oneheel.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
}

.one-heel:hover {
    background: url(../img/oneheelback.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
    transition: 0.2s;
}

.two-heel {
    background: url(../img/twoheel.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
}

.two-heel:hover {
    background: url(../img/twoheelback.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
    transition: 0.2s;
}

.three-heel {
    background: url(../img/threeheel.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
}

.three-heel:hover {
    background: url(../img/threeheelback.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
    transition: 0.2s;
}

.four-heel {
    background: url(../img/fourheel.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
}

.four-heel:hover {
    background: url(../img/fourheelback.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    margin: 0 20px 0 0;
    transition: 0.2s;
}

.five-heel {
    background: url(../img/fiveheel.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
}

.five-heel:hover {
    background: url(../img/fiveheelback.png);
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 310px;
    transition: 0.2s;
}

.gallery {
    padding-top: 15%;
    text-align: center;
}

.gallery-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-left {
    background: url(../img/art1.png);
    background-size: cover;
    background-position: center;
    width: 722px;
    height: 1024px;
    display: flex;
    margin-right: 20px;
}

.gallery-right {
    display: flex;
    flex-direction: column;
}

.img-right {
    background: url(../img/art2.png);
    background-size: cover;
    background-position: center;
    width: 722px;
    height: 429px;
    display: flex;
}

.img-bottom {
    background: url(../img/art3.png);
    background-size: cover;
    background-position: center;
    width: 722px;
    height: 575px;
    display: flex;
    margin-top: 20px;
}
footer {
    padding: 5%;
    margin-top: 14%;
    background-color: var(--main-color);
    
}
.footer-inner{
    display: flex;
    flex-direction: column;
}
.logo-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo {
    background: url(../img/footer-logo.png);
    background-size: cover;
    background-position: center;
    width: 34px;
    height: 63px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 5%;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.footer-nav div {
    display: flex;
    flex-direction: column;
    margin: 0 30px 110px 30px;
}
.footer-nav div h4 {
    display: flex;
    color: var(--font-white);
    font-size: 17px;
}

.footer-nav div ul li{
    margin-top: 12px;
}
.footer-nav div ul a{
    color: var(--footer-font-grey);
}
hr {
    width: 90%;
    border: solid var(--hr) 1px;
}
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.language {
    display: flex;
    flex-direction: row;

}
.language a{
    color: var(--font-white);
    display: flex;
    margin: 0 10px 0 10px;
    padding-left: 70px;
}
.sns {
    display: flex;
    flex-direction: row;
    padding-right: 80px;
}
.sns-icons {
    display: flex;
}
.twitter {
    background: url(../img/twitter.svg);
    background-size: cover;
    background-position: center;
    width: 18px;
    height: 15px;
    margin-left: 20px;

}
.facebook {
    background: url(../img/facebook.svg);
    background-size: cover;
    background-position: center;
    width: 7px;
    height: 15px;
    margin-left: 20px;

}
.instagram {
    background: url(../img/instagram.svg);
    background-size: cover;
    background-position: center;
    width: 15px;
    height: 15px;
    margin-left: 20px;

}
.kakao{
    background: url(../img/kakao.svg);
    background-size: cover;
    background-position: center;
    width: 8px;
    height: 15px;
    margin-left: 20px;

}
.youtube{
    background: url(../img/youtube.svg);
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 15px;
    margin-left: 20px;
}

/* 1540 */
@media(max-width:1540px) {
    .page-product li:first-child {
        display: none;
    }
    .img-left {
        margin: 20px;
    }
    .footer-nav div {
        margin: 0 1% 1% 1%;
    }
  }
  @media(max-width:1270px) {
    .page-product li:last-child {
        display: none;
    }
    .img-left {
        margin: 20px;
    }
    .footer-nav div {
        margin: 0 1% 1% 1%;
    }
  }
/* 
  1.로고 중앙정렬
  2.메인비디오와 다음 아티클이 넘치는이유
  3.a클릭영역
  4.자연스러운 미디어쿼리 반응형으로 바꾸는방법
  5.퍼센트로 마진넣었을때 글씨가 다음줄로 넘어가는 이유 */